* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, blue, green, yellow);
}

#container {
    width: 200px;
    height: 200px;
    background-color: rgb(245, 226, 226);
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: -2px -2px 5px, 2px 2px 5px;
    position: relative;
    margin-bottom: 20px;
    font-weight: bold;
}

#center {
    position: absolute;
    top: 97px;
    left: 97px;
    width: 6px;
    height: 6px;
    background-color: rgb(244, 9, 9);
    border-radius: 50%;
    z-index: 2;
}

#hours {
    position: absolute;
    top: 98.5px;
    left: 98.5px;
    width: 20%;
    height: 3px;
    background-color: blue;
    z-index: 1;
    transform-origin: 0%;
}

#minutes {
    position: absolute;
    top: 99px;
    left: 99px;
    width: 30%;
    height: 2px;
    background-color: green;
    z-index: 1;
    transform-origin: 0%;
}

#secondes {
    position: absolute;
    top: 99.5px;
    left: 99.5px;
    width: 37%;
    height: 1px;
    background-color: rgb(230, 251, 0);
    z-index: 1;
    transform-origin: 0%; 

}

.mySpan {
    position: absolute;
    transform: translate(-8px, -9px);

}

p {
    width: 300px;
    height: 60px;
    background-color: rgb(245, 226, 226);
    line-height: 60px;
    text-align: center;
    border: 2px solid black;
    box-shadow: -2px -2px 5px, 2px 2px 5px;
    margin-bottom: 10px;
}

#day {
    color: red;
}